[Desktop Entry]
Type=Application
Exec=/home/wuconglei/wendao/tools_ws/src/image_tools/image_tools_app/release/imageTools
Name=image_tools
GenericName=IMAGE_TOOLS
Icon=/home/wuconglei/wendao/tools_ws/src/image_tools/image_tools_app/image_tools_app/resouces/icon.jpg
Terminal=false
Categories=Development
