[Desktop Entry]
Type=Application
Exec=/home/ubuntu/projects/tools_ws/src/image_tools/image_tools_app/release/imageTools
Name=image_tools
GenericName=IMAGE_TOOLS
Icon=/home/ubuntu/projects/tools_ws/src/image_tools/image_tools_app/image_tools_app/resouces/app.ico
Terminal=false
Categories=Development
